<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="U-XA-Compatible" content="IE-Edge"/>
  <meta author="Jacek Dwojak"/>
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  <title>Stage Planner</title>
</head>

<body>
<div class="wrapper" id="root_container">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Stage Planner</h3>
    </div>
    <ul class="list-unstyled components">
      <li><a href="#string_submenu" data-toggle="collapse" aria-expanded="false">Strings</a></li>
        <ul class="collapse list-unstyled" id="string_submenu">
        <small id="strings_help" class="form-text text-muted">Enter number of string instruments</small>
          <li><input type="text" id="vn1" class="form-control" placeholder="VN I" onkeyup="createLayout(this.id)"></li>
          <li><input type="text" id="vn2" class="form-control" placeholder="VN II" onkeyup="createLayout(this.id)"></li>
          <li><input type="text" id="vla" class="form-control" placeholder="VLA" onkeyup="createLayout(this.id)"></li>
          <li><input type="text" id="vc" class="form-control" placeholder="VC" onkeyup="createLayout(this.id)"></li>
          <li><input type="text" id="cb" class="form-control" placeholder="CB" onkeyup="createLayout(this.id)"></li>
        </ul>
        <li><a href="#wood_submenu" data-toggle="collapse" aria-expanded="false">Wood</a></li>
          <ul class="collapse list-unstyled" id="wood_submenu">
            <small id="wood_help" class="form-text text-muted">Enter number of wood instruments</small>
            <li><input type="text" class="form-control" id="fl" placeholder="FL" onkeyup="wind(this.id)"></li>
            <li><input type="text" class="form-control" id="cl" placeholder="CL" onkeyup="wind(this.id)"></li>
            <li><input type="text" class="form-control" id="ob" placeholder="OB" onkeyup="wind(this.id)"></li>
            <li><input type="text" class="form-control" id="fg" placeholder="FG" onkeyup="wind(this.id)"></li>
          </ul>
          <li><a href="#brass_submenu" data-toggle="collapse" aria-expanded="false">Brass</a></li>
            <ul class="collapse list-unstyled" id="brass_submenu">
              <small id="brass_help" class="form-text text-muted">Enter number of brass instruments</small>
              <input type="text" class="form-control" id="cr" placeholder="CR" onkeyup="wind(this.id)">
              <input type="text" class="form-control" id="tr" placeholder="TR" onkeyup="wind(this.id)">
              <input type="text" class="form-control" id="tbn" placeholder="TBN" onkeyup="wind(this.id)">
              <input type="text" class="form-control" id="tb" placeholder="TB" onkeyup="wind(this.id)">
            </ul>
            <li><button class="btn btn-default" type="button" id="export_button">Export to PDF</button></li>
    </ul>
  </nav>

  <div id="stage_view"></div>
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Edit</h3>
    </div>
    <ul class="list-unstyled components">
      <li><a href="#edit_name" data-toggle="collapse" aria-expanded="false">Change name</a></li>
        <ul class="collapse list-unstyled" id="edit_name">
          <li>
            <div class="form-group">
              <small id="change_name_help" class="form-text text-muted">Select instruments, insert new name and click apply</small>
              <input type="text" id="new_name_field" class="form-control" placeholder="New Name">
            </div>
          </li>
          <li><button class="btn btn-default" type="button" id="change_name_button">Apply</button></li>
        </ul>
        <li><a href="#edit_color" data-toggle="collapse" aria-expanded="false">Change color</a></li>
          <ul class="collapse list-unstyled" id="edit_color">
            <li>
              <div class="form-group">
                <small id="change_color_help" class="form-text text-muted">Select instruments, choose new color and click apply</small>
                <button class="jscolor {valueElement: null, value: 'FBBA42'}" id="color_chooser">
              </div>
            </li>
            <li><button class="btn btn-default" type="button" id="change_color_button">Apply</button></li>
          </ul>
          <li><a href="#remove_instrument" data-toggle="collapse" aria-expanded="false">Remove</a></li>
            <ul class="collapse list-unstyled" id="remove_instrument">
              <li>
                <div class="form-group">
                  <small id="change_color_help" class="form-text text-muted">Select instruments and click remove</small>
                </div>
              </li>
              <li><button class="btn btn-default" id="remove_button">Remove</button></li>
            </ul>
        </ul>
    </nav>


<form id="svg_form" method="post" action="{{ url_for('export_pdf') }}">
  <input type="hidden" id="output_data" name="output_data" value="">
</form>

<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"  type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='d3.min.js') }}" type="text/javascript"></script>
{{ JSGlue.include() }}
<script src="{{ url_for('static', filename='jscolor.min.js') }}" type="text/javascript"></script>
<script src="{{url_for('static', filename='script.js') }}" type="text/javascript"></script>
</body>
</html>
